name: QA Performance Test with JMeter CLI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  performance-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # 4. JMeter 최신 버전 다운로드 및 압축 해제
      - name: Install Latest JMeter
        run: |
          wget https://archive.apache.org/dist/jmeter/binaries/apache-jmeter-5.6.3.tgz
          tar -xzf apache-jmeter-5.6.3.tgz
          echo "JMETER_HOME=$GITHUB_WORKSPACE/apache-jmeter-5.6.3" >> $GITHUB_ENV

      # 5. JMeter CLI 실행 (경로를 설치한 폴더의 bin/jmeter로 지정)
      - name: Run JMeter Performance Test
        run: |
          mkdir -p dashboard_report
          # 다운로드 받은 최신 버전의 실행 파일을 직접 호출
          ./apache-jmeter-5.6.3/bin/jmeter -n -t ./json-server-test-plan.jmx -l ./result.jtl -e -o ./dashboard_report

      # 6. HTML 리포트 결과 저장 (성공/실패 상관없이 무조건 업로드)
      - name: Upload JMeter Report
        uses: actions/upload-artifact@v4
        if: always() 
        with:
          name: jmeter-performance-report
          path: dashboard_report/
